.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e2e2e2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav .btn-close-sidenav {
	padding: 16px 0;
}